notebooks/lightning_logs
notebooks/.ipynb_checkpoints
notebooks/*Logger*
notebooks/results_cache.pickle
wandb
*/wandb
*/*/wandb
*/__pycache__
*/*/__pycache__
*.ckpt
results_cache_*-*-*_*-*-*.pickle
results_cache.pickle
results_cache.pickle.backup
