notebooks/lightning_logs
notebooks/.ipynb_checkpoints
notebooks/*Logger*
notebooks/results_cache.pickle
wandb
*/wandb
*/*/wandb
*/__pycache__
*/*/__pycache__
*.ckpt
results_cache_*-*-*_*-*-*.pickle
results_cache.pickle
results_cache*.pickle
results_cache.pickle.backup
.idea/*
temp
temp/*
tsne_outputs/*.pkl.gz

*/.DS_Store
**/.DS_Store
.DS_Store
.DS_Store?
containment_support_outputs/v3_flapless_stimuli_tsne.pkl.gz

